h1{
    background: green;
    color: black;
    width: 200px;
}

li{
    font-size: 24px;
    background-color: yellowgreen;
    color: black;
    padding: 10px;
    border: 0px solid blue;
    margin: 30px;
    content: 30px;
    width: 300px;
    text-align: center;
}

.description, .ingredients, .directions{
    color: black;
    padding: 30px;
    border: 2px solid black;
    content: 30px;
    margin: 20px;
}